@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@font-face {
    font-family: 'Helvetica';
    src: url('HelveticaNeueLight.otf');
}

@font-face {
    font-family: 'HelveticaBold';
    src: url('HelveticaNeueMedium.otf');
}



:root {
    --dark-green: rgb(43, 87, 43);
    --light-green: rgb(117, 168, 101);
    --background: rgb(207, 207, 207);
    --orange: orange;
    --gray: darkgray;
    --offwhite: rgb(224, 224, 224);
    --very-light-green: rgba(117, 168, 101, 0.089);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Helvetica';
}

body {
    overflow-x: hidden;
    user-select: none;
}

footer {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 8px 0;
    color: var(--light-green);
    background-color: var(--dark-green);
}

footer a {
    position: absolute;
    left: 24px;
    text-decoration: none;
    color: var(--light-green);
}

footer a > iconify-icon {
    margin-bottom: -4px;
    margin-left: 4px;
}

@media only screen and (max-width: 600px) {
    footer {
        font-size: 12px;
    }
}

@media (hover: hover) {
    footer a:hover {
        color: var(--light-green);
    }
}