@font-face {
    font-family: Helvetica;
    src: url("./HelveticaNeueLight.otf") format("opentype");
}

@font-face {
    font-family: HelveticaBold;
    src: url("./HelveticaNeueMedium.otf") format("opentype");
}
 
:root {
    --dark-gray: rgb(50, 50, 50);
    --selected-gray: rgb(87, 87, 87);
    --transparent-gray: rgba(255, 255, 255, 0.389);
    --transparent-selected: rgba(255, 255, 255, 0.662);
    --accent:   rgb(176, 215, 187);
    --white: white;
    --t-width: 320px;
    --window-width: calc(var(--vw, 1vw) * 100);
    --t-padding: 24px;
    --t-height: 320px;
    --p-width: 480px;
    --font-size-small: 20px; 
    --font-size-medium: 28px; 
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica !important;
}

b, .bold, h1, strong, .buy-button { 
    font-family: HelveticaBold !important;
    font-weight: normal !important;
}

article, .testimonial, .dynamic-product-list, footer, aside, nav span, .new-product {
    font-size: var(--font-size-small);
}

.testimonial h1, nav, .close, #close, .dynamic-product-list .title, .testimonials h1, .left-arrow, .right-arrow, aside h1, .buy-button, .other-furniture h1 {
    font-size: var(--font-size-medium);
}

.dynamic-product-list, .testimonial, .popup, #product-slideshow, .new-product {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

body {
    overflow-x: hidden;
    line-height: 1.5;
}

footer {
    background-color: var(--white);
    color: var(--dark-gray);
    display: flex;
    justify-content: center;
    padding: 8px 0;
}

footer a {
    position: absolute;
    left: 24px;
    color: var(--dark-gray);
    text-decoration: none;
}

footer a > iconify-icon {
    margin-bottom: -4px;
    margin-left: 4px;
}

@media only screen and (max-width: 1000px) {
    :root {
        --font-size-small: 16px;
        --font-size-medium: 20px; 
        --t-width: calc(var(--window-width)/2 -  var(--t-padding)) !important;
        --p-width: calc(var(--window-width) - 48px);
    }

    footer {
        justify-content: right;
        padding-right: 24px;
    }
}

@media(hover: hover) {
    header .dynamic-product-list .wrapper:hover,  
    header nav:hover,
    section.testimonials .testimonial:hover .page1 ,
    section.testimonials .testimonial:hover .page2-content,
    section.testimonials .testimonial:hover .page2-content-back,
    .popup:hover,
    section.other-furniture .new-product:hover {
        background-color: var(--transparent-selected);
        transition: 0.4s;
    }

    nav a:hover, .left-arrow:hover, .right-arrow:hover, nav h1:hover, footer a:hover, .close:hover, #close:hover {
        color: var(--selected-gray);
        
    }

    .colors > *:hover {
        filter: brightness(1.2);
    }

    .buy-button:hover {
        filter: brightness(1.2);
    }

    .dyn-list-product:hover {
        color: var(--selected-gray);
        filter: brightness(1.2);

    }
}
