@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@font-face {
    font-family: 'Helvetica';
    src: url('HelveticaNeueLight.otf');
}

@font-face {
    font-family: 'HelveticaBold';
    src: url('HelveticaNeueMedium.otf');
}



:root {
    --dark-green: rgb(43, 87, 43);
    --light-green: rgb(117, 168, 101);
    --background: rgb(207, 207, 207);
    --orange: #D8B59C;
    --gray: darkgray;
    --offwhite: rgb(224, 224, 224);
    --very-light-green: rgba(240, 255, 235, 0.799);
    --hundred: calc(100vw - var(--scrollbarWidth));
    --fifty: calc(var(--hundred)/2);
    --black: rgb(31, 31, 31);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Helvetica';
}

body {
    overflow-x: hidden;
    user-select: none;
    line-height: 1.5 !important;
    position: relative;
}

footer {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 8px 0;
    background-color: rgba(0, 0, 0, 0.069);
    width: 100%;
    position: absolute;
    bottom: 0;
}

footer a {
    position: absolute;
    left: 24px;
    text-decoration: none;
    color: var(--black);
}

footer a > iconify-icon {
    margin-bottom: -4px;
    margin-left: 4px;
}

.left-arrow:hover, .right-arrow:hover {
    color: var(--offwhite) !important;
}

header a:hover {
    color: var(--light-green);
}

@media only screen and (max-width: 600px) {
    footer {
        font-size: 12px;
    }
}