header {
    display: flex;
    flex-direction: column;
    margin-bottom: -8px;
    position: relative;
}

header img {
    width: 100%;
    align-self: flex-end;
}
header #butterfly {
    position: absolute;
    display: block;
}

header #butterfly img {
    height: 2vw;
}

header .round-header-button {
    position: absolute;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    transform: translateX(-50%);
}

header .round-header-button img {
    width: 5vw;
    filter: hue-rotate(270deg) brightness(120%);
}

header .round-header-button img:hover {
    transform: rotate(360deg);
    transition: ease-in 0.5s;
}

header .vase {
    left: 17%;
    top: 30vw;
}

header .sofa {
    left: 60%;
    top: 30vw;
}

header .table {
    left: 65%;
    top: 40vw;
}

header .chair {
    left: 85%;
    top: 35vw;
}

header .dynamic-product-list {
    position: absolute;
    width: 30vw;
    min-width: 480px;
    max-height: 20vw;
    height: fit-content;
    display: none;
    transform: translateY(-90%);
    font-family: 'Montserrat', sans-serif;
    z-index: 1;
}

header .dynamic-product-list .wrapper {
    width: 100%;
    background-color: var(--light-green);
    color: var(--dark-gray);
    opacity: 0.8;
    border-radius: 8px;
    transition: all 0.5s;
    overflow-y: scroll;
    padding: 8px;
    padding-bottom: 0;
}

header .dynamic-product-list .wrapper.selected {
    opacity: 1;
}

header .dynamic-product-list .wrapper section {
    width: 100%;
}

header .dynamic-product-list .wrapper .title {
    height: 48px;
    text-align: center;
}

header .dynamic-product-list .close {
    position: absolute;
    cursor: pointer;
    z-index: 2;
}   

header .dyn-list-product {
    display: flex;
    margin-bottom: 8px;
    cursor: pointer;
    position: relative;
}

header .dyn-list-product a {
    background-color: red;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    z-index: 1;
}

header .dyn-list-product:hover {
    color: var(--gray);
}

header .dyn-list-product .info {
    padding-left: 8px;
    display: flex;
    flex-direction: column;
    max-height: 96px;
    flex: 1;
}

header .dyn-list-product span.price {
    align-self: flex-end;
    margin-top: 24px;
}

header .dyn-list-product img {
    height: 96px;
    width: 96px;
}

header nav {
    position: absolute;
    right: 0;
    top: 16px;
    display: flex;
    align-items: center;
    background-color: rgba(64, 64, 64, 0.3);
    padding-left: 24px;
    padding-top: 8px;
    border-radius: 8px 0 0 8px;
}

header nav a {
    font-size: 32px;
    margin-right: 16px;
    color: white;
}

header nav a:hover {
    color: var(--light-green);
}

header nav a#about-us {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 16px;
    margin-right: 32px;
    border-radius: 8px;
    display: block;
    margin-bottom: 8px;
}

header nav a#about-us iconify-icon {
    margin-bottom: -4px;
    margin-left: 8px;
}

header nav a#about-us:hover {
    color: white;
}

header nav a#about-us:hover iconify-icon {
    margin-bottom: -8px;
}

header .header-title {
    position: absolute;
    top: 5vw;
    color: white;
    font-family: 'Montserrat', sans-serif;
    left: 25vw;
    pointer-events: none;
}

header h1 {
    font-weight: bold;
    text-shadow: 5px 5px 5px var(--gray);
}

header h2 {
    text-shadow: 5px 5px 5px var(--gray);
}

header h1 {
    font-size: 96px;
}
header h2 {
    font-size: 32px;
}

article {
    background-color: var(--gray);
    padding: 96px 24px;
    color: var(--dark-gray);
    min-height: 480px;
}

article div {
    max-width: 1200px;
    margin: auto;
    padding: 24px;
}

article div:first-of-type {
    margin-bottom: 48px;
}

article p {
    font-family: 'Montserrat', sans-serif;
}

section.testimonials {
    background-color: var(--light-green);
    position: relative;
    margin: auto;
}

section.testimonials > h1 {
    position: absolute;
    top: 24px;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

section.testimonials .left-arrow, 
section.testimonials .right-arrow {
    position: absolute;
    top: 24px;
    cursor: pointer;
    font-size: 24px;
}

section.testimonials .left-arrow:hover,
section.testimonials .right-arrow:hover {
    color: var(--gray);
}

section.testimonials .left-arrow {
    left: 48px;
}

section.testimonials .right-arrow {
    right: 48px;
}

section.testimonials .testimonials-scroll {
    display: flex;
    padding: 96px 48px;
    padding-right: 24px;
    overflow: hidden;
    margin: auto;
    cursor: grab;
}

section.testimonials .testimonials-scroll.active{
    cursor: grabbing;
}

section.testimonials .testimonial {
    height: fit-content;
    width: fit-content;
    position: relative;
    perspective: 1500px;
    font-family: 'Montserrat', sans-serif;
    color: var(--gray);
    margin-right: 344px;
    user-select: none;
}

section.testimonials .testimonial .page1 {
    background-color: var(--dark-gray);
    width: 320px;
    height: 320px;
    text-align: center;
    padding: 24px;
    border-radius: 16px 0 0 16px;
}

section.testimonials .testimonial .page1 img:first-of-type {
    width: 96px;
    height: 96px;
    border-radius: 1000px;
    background-color: white;
}

section.testimonials .testimonial .page1 img:last-of-type {
    height: 96px;
}

section.testimonials .testimonial .page1 > * {
    margin-bottom: 8px;
}

section.testimonials .testimonial .page2 {
    width: 640px;
    height: 320px;
    position: absolute;
    top: 0;
    transform-style: preserve-3d;
}

section.testimonials .testimonial .page2-content {
    backface-visibility: hidden;
    width: 320px;
    transform: rotateY(180deg);
    padding: 24px;
    height: 320px;
    position: absolute;
    top: 0;
    background-color: var(--dark-gray);
    border-left: 1px solid rgba(219, 219, 219, 0.3);
    border-radius: 0 16px 16px 0;
}

section.testimonials .testimonial .page2-content-back {
    backface-visibility: hidden;
    background-color: var(--gray);
    width: 320px;
    padding: 24px;
    height: 320px;
    position: absolute;
    top: 0;
    text-align: center;
    border-radius: 16px 0 0 16px;
} 

section.testimonials .testimonial .page2-content span {
    margin-top: 64px;
    display: block;
}

section.testimonials .testimonial .page2-content-back span {
    margin-top: 64px;
    display: block;
    font-size: larger;
    color: var(--dark-gray)
}

.popup {
    position: fixed;
    bottom: 24px;
    right: 24px;
    background-color: var(--light-green);
    color: white;
    padding: 24px;
    width: 320px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgba(28, 28, 28, 0.3);
    animation: 5s ease-in slidein;
}

@keyframes slidein {
    from {
        transform: translateX(200%);        
    }

    to {
        transform: translateY(0);
    }
}

.popup h1 {
    font-size: 24px;
    margin-bottom: 8px;
}

.popup:hover {
    background-color: rgb(225, 200, 204);
    color: var(--dark-gray);
}

.popup span {
    font-size: 12px;
}

.popup span#close {
    position: absolute; 
    top: 2px;
    right: 8px;
    font-size: 20px;
    cursor: pointer;
}

.popup span#close:hover
{
    color: rgb(193, 227, 249)
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
    .dynamic-product-list {
        min-width: 320px !important;
    }

    .dyn-list-product .info {
        font-size: 80% !important;
    }

    header .round-header-button img {
        width: 7vw;
    }

    header h1 {
        font-size: 64px;
    }

    header h2 {
        font-size: 16px;
    }

    header .header-title {
        top: 96px;
    }
}

@media only screen and (max-width: 600px) {
    header .dynamic-product-list {
        width: calc(100% - 48px);
        min-width: unset;
        max-height: unset; 
        height: 240px;
        transform: translateY(30vw);
        bottom: 0;
        left: 24px;
    }

    header nav a {
        font-size: 24px;
        margin-right: 8px;
    }

    header .round-header-button img {
        width: 13vw;
    }

    header .dynamic-product-list .wrapper {
        opacity: 1;
    }

    header .header-title {
        left: 32px;
        top: 32px;
    }
    
    header h1 {
        font-size: 32px;
    }
    
    header h2 {
        display: none;
    }

    header nav a#about-us {
        margin-left: -16px;
        margin-right: 16px;
    }

    header nav a#about-us > span {
        display: none;
    }

    article div {
        margin: auto;
        max-width: 100%;
        padding: 8px;
    }
}

@media only screen and (max-width: 992px) {
    section.testimonials .testimonials-scroll {
        padding-right: 0;
    }

    section.testimonials .testimonial {
        margin-right: 300px;
    }

    section.testimonials .testimonial .page1 {
        width: 240px;
        height: 240px;
        font-size: 70%;
    }

    section.testimonials .testimonial .page1 img:first-of-type {
        width: 64px;
        height: 64px;
    }

    section.testimonials .testimonial .page1 img:last-of-type {
        height: 64px;
    }

    section.testimonials .testimonial .page2 {
        width: 480px;
    }

    section.testimonials .testimonial .page2-content {
        width: 240px;
        height: 240px;
    }

    section.testimonials .testimonial .page2-content-back {
        width: 240px;
        height: 240px;
    }
}