header {
    display: flex;
    flex-direction: column;
    margin-bottom: -8px;
    position: relative;
}

header img {
    width: 100%;
    align-self: flex-end;
}
header #butterfly {
    position: absolute;
    display: block;
}

header #butterfly img {
    height: 2vw;
}

header .round-header-button {
    position: absolute;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    transform: translateX(-50%);
}

header .round-header-button img {
    width: 5vw;
    filter: hue-rotate(270deg) brightness(120%);
}

header .vase {
    left: 17%;
    top: 30vw;
}

header .sofa {
    left: 60%;
    top: 30vw;
}

header .table {
    left: 65%;
    top: 40vw;
}

header .chair {
    left: 85%;
    top: 35vw;
}

header .dynamic-product-list {
    position: absolute;
    width: 30vw;
    min-width: 480px;
    max-height: 20vw;
    height: fit-content;
    display: none;
    transform: translateY(-90%);
    z-index: 1;
}

header .dynamic-product-list .wrapper {
    width: 100%;
    background-color: var(--transparent-gray);
    color: var(--dark-gray);
    border-radius: 8px;
    transition: all 0.5s;
    overflow-y: scroll;
    padding: 8px;
    padding-bottom: 0;
}

header .dynamic-product-list .wrapper section {
    width: 100%;
}

header .dynamic-product-list .wrapper .title {
    margin: auto;
    padding-bottom: 8px;
}

.dynamic-product-list .head {
    display: flex;
    border-bottom: 1px solid var(--dark-gray);
    margin-bottom: 8px;
}


header .dynamic-product-list .close {
    z-index: 2;
    position: absolute;
    cursor: pointer;
}   

header .dyn-list-product {
    display: flex;
    margin-bottom: 8px;
    cursor: pointer;
    position: relative;
}

header .dyn-list-product a {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    z-index: 1;
}

header .dyn-list-product .info {
    padding-left: 8px;
    display: flex;
    flex-direction: column;
    max-height: 96px;
    flex: 1;
}

header .dyn-list-product span.price {
    align-self: flex-end;
}

header .dyn-list-product img {
    height: 96px;
    width: 96px;
}

header nav {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    background-color: var(--transparent-gray);
    padding-left: 24px;
    padding-top: 8px;
    border-radius: 0px 0 0 16px;
}

header nav a {
    margin-right: 16px;
    color: var(--dark-gray);
}

header nav a#about-us {
    text-decoration: none;
    margin-right: 32px;
    border-radius: 8px;
    display: block;
    margin-bottom: 8px;
}

header nav a#about-us iconify-icon {
    margin-bottom: -4px;
    margin-left: 8px;
}

header .header-title {
    color: var(--dark-gray);
    pointer-events: none;
    position: absolute;
    left: 30vw;
    top: 9vw;
    opacity: 0.9;
}

header h1 {
    font-weight: bold;
    text-shadow: 5px 5px 5px var(--gray);
    font-size: 5vw;
    line-height: 0.7;
}

header h2 {
    line-height: 2;
    font-size: 2vw;
    text-shadow: 5px 5px 5px var(--gray);
}

header h2 span {
    color: rgb(162, 221, 162);
}

article {
    text-align: justify;
    text-justify: inter-word;
    padding: 96px 24px;
    padding-top: 128px;
    color: var(--dark-gray);
    min-height: 480px;
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, var(--accent) 100%); 
}

article div {
    max-width: 1200px;
    margin: auto;
}

section.testimonials {
    color: var(--dark-gray);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, var(--accent) 60%);    
    position: relative;
    margin: auto;
    padding-top: 24px;
    padding-bottom: 16px;
}

section.testimonials > h1 {
    position: absolute;
    top: 24px;
    left: 50%;
    transform: translateX(-50%);
}

section.testimonials .left-arrow, 
section.testimonials .right-arrow {
    position: absolute;
    top: 24px;
    cursor: pointer;
}

section.testimonials .left-arrow {
    left: 48px;
}

section.testimonials .right-arrow {
    right: 48px;
}

section.testimonials .testimonials-scroll {
    display: flex;
    padding: 96px 48px;
    padding-right: 24px;
    overflow: hidden;
    margin: auto;
    cursor: grab;
}

section.testimonials .testimonials-scroll.active{
    cursor: grabbing;
}

section.testimonials .testimonial {
    height: fit-content;
    width: fit-content;
    position: relative;
    perspective: 1500px;
    color: var(--dark-gray);
    margin-right: 344px;
    user-select: none;
}

section.testimonials .testimonial .page1 {
    background-color: var(--transparent-gray);
    width: 320px;
    height: 320px;
    text-align: center;
    padding: 24px;
    border-radius: 16px 0 0 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

section.testimonials .testimonial .page1 img:first-of-type {
    width: 96px;
    height: 96px;
    border-radius: 1000px;
    filter: grayscale(100%);
    margin: auto;
}

section.testimonials .testimonial .page1 img:last-of-type {
    height: 48px;
    filter: brightness(80%);
    margin: auto;
}

section.testimonials .testimonial .page1 > * {
    margin-bottom: 8px;
}

section.testimonials .testimonial .page2 {
    width: 640px;
    height: 320px;
    position: absolute;
    top: 0;
    transform-style: preserve-3d;
}

section.testimonials .testimonial .page2-content {
     width: 320px;
    transform: rotateY(180deg);
    padding: 24px;
    height: 320px;
    position: absolute;
    top: 0;
    background-color: var(--transparent-gray);
    border-left: 1px solid rgba(219, 219, 219, 0.3);
    border-radius: 0 16px 16px 0;

    display: flex;
    flex-direction: column;
    justify-content: center;

}

section.testimonials .testimonial .page2-content-back {
    backface-visibility: hidden !important;
    background-color: var(--transparent-gray);
    width: 320px;
    padding: 24px;
    height: 320px;
    position: absolute;
    top: 0;
    text-align: center;
    border-radius: 16px 0 0 16px;
} 

section.testimonials .testimonial .page2-content span {
    display: block;
}

section.testimonials .testimonial .page2-content-back span {
    /* margin-top: 64px; */
    display: block;
    color: var(--accent);
    display: none;
}

.popup {
    position: fixed;
    bottom: 24px;
    right: 24px;
    background-color: var(--transparent-gray);
    color: var(--dark-gray);
    padding: 24px;
    width: 320px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgba(28, 28, 28, 0.3);
    animation: 5s ease-in slidein;
}

@keyframes slidein {
    from {
        transform: translateX(200%);        
    }

    to {
        transform: translateY(0);
    }
}

.popup h1 {
    margin-bottom: 8px;
}

.popup span#close {
    position: absolute; 
    top: 2px;
    right: 8px;
    cursor: pointer;
}


@media(hover: hover) {
    header .round-header-button img:hover {
        transform: rotate(360deg);
        transition: ease-in 0.5s;
    }

    header nav a#about-us:hover iconify-icon {
        margin-bottom: -8px;
        transition: 0.2s;
    }
}