header {
    display: flex;
    flex-direction: column;
    margin-bottom: -8px;
    position: relative;
}

header img {
    width: 100%;
    align-self: flex-end;
}
header #butterfly {
    position: absolute;
    display: block;
    user-select: none;
}

header #butterfly img {
    height: 1vw;
}

header .round-header-button {
    position: absolute;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    transform: translateX(-50%);
}

header .round-header-button img {
    width: 5vw;
    filter: hue-rotate(270deg) brightness(120%);
}

header .vase {
    left: 17%;
    top: 30vw;
}

header .sofa {
    left: 60%;
    top: 30vw;
}

header .table {
    left: 65%;
    top: 40vw;
}

header .chair {
    left: 85%;
    top: 35vw;
}

header .dynamic-product-list {
    position: absolute;
    width: 50vw;
    max-width: 480px;
    max-height: 320px;
    height: fit-content;
    display: none;
    transform: translateY(-100%);
    z-index: 1;
}

header .dynamic-product-list .wrapper {
    width: 100%;
    background-color: var(--transparent-gray);
    color: var(--dark-gray);
    border-radius: 8px;
    overflow-y: scroll;
    padding: 8px;
    padding-bottom: 0;
}

header .dynamic-product-list .wrapper section {
    width: 100%;
}

header .dynamic-product-list .wrapper .title {
    margin: auto;
    padding-bottom: 8px;
}

.dynamic-product-list .head {
    display: flex;
    border-bottom: 1px solid var(--dark-gray);
    margin-bottom: 8px;
}


header .dynamic-product-list .close {
    z-index: 2;
    position: absolute;
    cursor: pointer;
}   

header .dyn-list-product {
    display: flex;
    margin-bottom: 8px;
    cursor: pointer;
    position: relative;
}

header .dyn-list-product a {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    z-index:3;
}

header .dyn-list-product .info {
    padding-left: 8px;
    display: flex;
    flex-direction: column;
    max-height: 96px;
    flex: 1;
}

header .dyn-list-product span.price {
    align-self: flex-end;
}

header .dyn-list-product img {
    height: 96px;
    width: 96px;
}

header nav {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    background-color: var(--transparent-gray);
    padding-left: 24px;
    padding-top: 8px;
    border-radius: 0px 0 0 16px;
    height: 48px;

}

header nav a {
    margin-right: 16px;
    color: var(--dark-gray);
}

header nav a#about-us {
    text-decoration: none;
    margin-right: 24px;
    border-radius: 8px;
    display: block;
    margin-bottom: 8px;
}

header nav a#about-us iconify-icon {
    margin-bottom: -4px;
    margin-left: 8px;
}

header .header-title {
    color: var(--dark-gray);
    pointer-events: none;
    position: absolute;
    left: 30vw;
    top: 9vw;
    opacity: 0.9;
}

header h1 {
    font-size: 5vw;
    line-height: 0.7;
}

header h2 {
    line-height: 2;
    font-size: 2vw;
}

header h2 span {
    color: rgb(221, 202, 162);
}

article {
    text-align: justify;
    text-justify: inter-word;
    padding: 96px 24px;
    padding-top: 128px;
    color: var(--dark-gray);
    min-height: 480px;
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, var(--accent) 100%); 
}

article div {
    max-width: 1200px;
    margin: auto;
}

section.testimonials {
    color: var(--dark-gray);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, var(--accent) 60%);    
    position: relative;
    margin: auto;
    padding-top: 24px;
    padding-bottom: 16px;
}

section.testimonials > h1 {
    position: absolute;
    top: 24px;
    left: 50%;
    transform: translateX(-50%);
}

section.testimonials .left-arrow, 
section.testimonials .right-arrow {
    position: absolute;
    top: 24px;
    cursor: pointer;
}

section.testimonials .left-arrow {
    left: 48px;
}

section.testimonials .right-arrow {
    right: 48px;
}

section.testimonials .testimonials-scroll {
    display: flex;
    padding: 96px 48px;
    padding-right: 24px;
    overflow: hidden;
    margin: auto;
    cursor: grab;
}

section.testimonials .testimonials-scroll.active{
    cursor: grabbing;
}


section.testimonials .testimonial .page1 img:first-of-type {
    width: 96px;
    height: 96px;
    border-radius: 1000px;
    filter: grayscale(100%);
    margin: auto;
}

section.testimonials .testimonial .page1 img:last-of-type {
    height: 48px;
    filter: brightness(80%);
    margin: auto;
}

section.testimonials .testimonial .page1 > * {
    margin-bottom: 8px;
}

section.testimonials .testimonial .page1,
section.testimonials .testimonial .page2-content,
section.testimonials .testimonial .page2-content-back {
    width: var(--t-width);
    height: var(--t-height);
}

section.testimonials .testimonial .page2 {
    width: calc(var(--t-width) * 2);
    height: var(--t-height);
}

section.testimonials .testimonial {
    margin-right: calc(var(--t-width) + var(--t-padding));
}

section.testimonials .testimonial:last-of-type {
    margin-right: var(--t-width);
}

section.testimonials .testimonial {
    height: fit-content;
    width: fit-content;
    position: relative;
    perspective: 1500px;
    color: var(--dark-gray);
    user-select: none;
}

section.testimonials .testimonial .page1 {
    background-color: var(--transparent-gray);

    text-align: center;
    padding: 24px;
    border-radius: 16px 0 0 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section.testimonials .testimonial .page2 {
    position: absolute;
    top: 0;
    transform-style: preserve-3d;
}

section.testimonials .testimonial .page2-content {
    transform: rotateY(180deg);
    padding: 24px;
    position: absolute;
    top: 0;
    background-color: var(--transparent-gray);
    border-left: 1px solid rgba(219, 219, 219, 0.3);
    border-radius: 0 16px 16px 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

section.testimonials .testimonial .page2-content-back {
    backface-visibility: hidden !important;
    background-color: var(--transparent-gray);
    padding: 24px;
    position: absolute;
    top: 0;
    text-align: center;
    border-radius: 16px 0 0 16px;
} 

section.testimonials .testimonial .page2-content span {
    display: block;
}

section.testimonials .testimonial .page2-content-back span {
    display: block;
    color: var(--accent);
    display: none;
}

.popup {
    position: fixed;
    bottom: 24px;
    right: 24px;
    background-color: var(--transparent-gray);
    color: var(--dark-gray);
    padding: 24px;
    width: 320px;
    text-align: center;
    border-radius: 8px;
    animation: 5s ease-in slidein;
}

@keyframes slidein {
    from {
        transform: translateX(200%);        
    }

    to {
        transform: translateY(0);
    }
}

.popup h1 {
    margin-bottom: 8px;
}

.popup span#close {
    position: absolute; 
    top: 2px;
    right: 8px;
    cursor: pointer;
}

@media only screen and (max-width: 1000px) {
    section.testimonials .testimonials-scroll {
        padding-left: 0;
        padding-right: 0;
    }

    section.testimonials .testimonial {
        margin-left:  var(--t-padding);
        margin-right: var(--t-padding);
    }

    section.testimonials .testimonial {
        margin-right: calc(var(--t-width) + calc( var(--t-padding) * 2));
    }

    section.testimonials .testimonial:last-of-type {
        margin-right: calc(var(--t-width) +  var(--t-padding));
    }

    #mobile-dyn-list {
        left: 24px;
        top: unset;
        bottom: -48px;
    }

    header .dynamic-product-list {
        transform: translateY(100%);
        width: calc(var(--window-width) - 48px);
        max-width: calc(var(--window-width) - 48px);
    }

    header .header-title {
        color: var(--dark-gray);
        left: 30vw;
        top: 11vw;
        opacity: 0.9;
    }
    
    header h1 {
        font-size: 10vw;
        line-height: 0.7;
    }
    
    header h2 {
        line-height: 0.8;
        font-size: 4.5vw;
        position: absolute;
        bottom: -33vw;
        left: -20vw;
    }
    
    header h2 span {
        color: var(--accent);
        filter: brightness(0.8);
        text-indent: 10vw;
        display: block;
    }

    header .round-header-button img {
        width: 8vw;
    }

    header #butterfly img {
        height: 3vw;
    }

    header nav a#about-us {
        display: none;
    }

    header nav {
        /* padding-left: 8px;
        padding-top: 4px;
        height: 24px; */
        padding-top: 2px;
        background-color: rgba(0, 0, 0, 0);
    }
    
    header nav a {
        /* margin-right: 8px; */
        font-size: 32px;
    }
}

@media(hover: hover) {
    header .round-header-button img:hover {
        transform: rotate(360deg);
        transition: ease-in 0.5s;
    }

    header nav a#about-us:hover iconify-icon {
        margin-bottom: -8px;
        transition: 0.2s;
    }
}