body {
    background-color: rgb(238, 238, 238);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    width: 100%;
    background-color: var(--gray);
    display: flex;
    justify-content: flex-end;
}

header nav h1 {
    color: var(--dark-gray);
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    left: 8px;
    display: block;
    margin-top: 4px;
    font-weight: 100;
}

header nav {
    display: flex;
}

header nav > a {
    color: var(--dark-gray);
    font-size: 24px;
    display: block;
    margin-right: 8px;
    margin-top: 8px;
}

header nav > a:hover {
    color: var(--light-green);
}

header h1 > a {
    text-decoration: none;
    color: var(--dark-gray);
    cursor: pointer;
}

main {
    width: 100%;
    height: fit-content;
    width: fit-content;
    display: flex;
    margin: auto;
    margin-top: 48px;
    position: relative;
    padding-bottom: 48px;
}

main section {
    height: 480px;
    position: relative;
    box-shadow: 5px 5px 10px 1px rgb(0, 0, 0, 0.1);
    cursor: grab;
}

main section .slideshow {
    overflow: hidden;
    width: 480px;
}

main section .scroll-div img {
    width: 480px;
}

main section.active {
    cursor: grabbing;
}

main section .scroll-div {
    display: flex;
    width: fit-content;
}

aside {
    display: flex;
    flex-direction: column;
    padding-left: 48px;
    font-family: 'Montserrat', sans-serif;
    width: 320px;
    justify-content: space-between;
}

aside .colors .color {
    display: block;
    height: 24px;
    width: 24px;
    cursor: pointer;
}

aside .colors .color:hover {
    opacity: 0.5;
}

aside .colors .color.selected {
    border: 1px solid var(--dark-gray);
}

main .buy-button {
    position: absolute;
    bottom: 170px;
    right: 0;
    background-color: goldenrod;
    padding: 8px 24px;
    border-radius: 8px;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

main .buy-button:hover {
    background-color: gold;
}

main section .right-arrow,
main section .left-arrow {
    position: absolute;
    bottom: 50%;
    font-size: 24px;
    cursor: pointer;
    color: var(--dark-gray);
}

main section .right-arrow:hover,
main section .left-arrow:hover {
    color: var(--gray);
}

main section .right-arrow {
    right: 0;
}

main section .left-arrow {
    left: 5px;
}

main section .tracker {
    display: flex;
    position: absolute;
    bottom: 4px;
    left: 50%;
    transform: translateX(-50%);
}

main section .tracker .tracker-circle {
    display: block;
    height: 16px;
    width: 16px;
    border: 1px solid var(--dark-gray);
    opacity: 0.5;
    border-radius: 1000px;
    margin: 0 2px;
}


section.other-furniture {
    background-color: white;
    padding: 24px;
    flex: 1;
    width: 100%;
}

section.other-furniture h1 {
    font-family: 'Montserrat', sans-serif;
    color: var(--dark-gray);
    font-weight: 100;
    text-align: center;
    margin-top: 24px;
}

section.other-furniture hr {
    margin: 32px 0;
    color: var(--gray);
    opacity: 0.1;
}

section.other-furniture .list {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
}

section.other-furniture .new-product {
    background-color: rgb(171, 171, 171);
    width: 240px;
    height: fit-content;
    margin-right: 24px;
    color: white;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
}

section.other-furniture .new-product:hover {
    background-color: var(--light-green);
}

section.other-furniture .new-product img {
    width: 100%;
}

section.other-furniture .new-product > * {
    margin-bottom: 8px;
}

section.other-furniture .new-product a {
    background-color: red;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    z-index: 1;
}

@media only screen and (min-width: 601px) and (max-width: 992px) {

}

@media only screen and (max-width: 600px) {
    header nav h1 {
        font-size: 12px;
        width: 100px;
    }

    section.other-furniture .new-product {
        font-size: 13px;
    }
}

@media only screen and (max-width: 992px) {
    main {
        flex-direction: column;
        width: 100%;
        margin-top: unset;
        padding-bottom: 16px;
    }

    main section {
        height: unset;
    }
    
    main section .slideshow {
        margin-bottom: -8px;
        width: 100%;
    }

    main aside {
        width: 100%;
        text-align: center;
        height: 320px;
        padding-left: 0;
        padding: 24px;
    }

    main .buy-button {
        bottom: 16px;
        left: 50%;
        transform: translateX(-45%);
    }
}