

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

header nav h1 {
    color: var(--dark-gray);
    position: absolute;
    left: 8px;
    display: block;
    margin-top: 4px;
    font-weight: 100;
}

header nav {
    display: flex;
}

header nav > a {
    color: var(--dark-gray);
    display: block;
    margin-right: 8px;
    margin-top: 8px;
}

header h1 > a {
    text-decoration: none;
    color: var(--dark-gray);
    cursor: pointer;
}

main {
    width: 100%;
    height: fit-content;
    width: fit-content;
    display: flex;
    margin: auto;
    margin-top: 128px;
    position: relative;
    margin-bottom: 128px;
}

main section {
    height: var(--p-width);
    position: relative;
    cursor: grab;
    user-select: none;
}

main section .slideshow {
    overflow: hidden;
    width: var(--p-width);
}

main section .scroll-div img {
    width: var(--p-width);
}

main section .active {
    cursor: grabbing;
}

main section .scroll-div {
    display: flex;
    width: fit-content;
}

#big-image {
    position: absolute;
    pointer-events: none; 
    z-index: 100;
    overflow: hidden;
    display: none;
}

#big-image img {
    object-fit: cover;
}

aside {
    display: flex;
    flex-direction: column;
    padding-left: 48px;
    width: var(--p-width);
    justify-content: space-between;
    color: var(--dark-gray);
    position: relative;
}


aside .colors .color {
    display: block;
    height: 24px;
    width: 24px;
    cursor: pointer;
}

aside .colors .color.selected {
    border: 1px solid var(--dark-gray);
}

aside .colors {
    position: absolute;
    right: 0;
    top: 0;
}

main .buy-button {
    padding: 8px 24px;
    border-radius: 8px;
    border: none;
    color: var(--white);
    cursor: pointer;
    background-color: var(--accent);
    position: absolute;
    bottom: 0px;
    right: 0;
}

main section .right-arrow,
main section .left-arrow {
    position: absolute;
    bottom: 50%;
    cursor: pointer;
    color: var(--dark-gray);
}

main section .right-arrow {
    right: 0;
}

main section .left-arrow {
    left: 5px;
}

main section .tracker {
    display: flex;
    position: absolute;
    bottom: 4px;
    left: 50%;
    transform: translateX(-50%);
}

main section .tracker .tracker-circle {
    display: block;
    height: 16px;
    width: 16px;
    border: 1px solid var(--dark-gray);
    border-radius: 1000px;
    margin: 0 2px;
}


section.other-furniture {
    margin-top: 128px;
    padding: 24px;
    flex: 1;
    width: 100%;
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, var(--accent) 100%); 
    padding-bottom: 96px;
}

footer {
    background-color: var(--accent);
}

section.other-furniture h1 {
    color: var(--dark-gray);
    font-weight: 100;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 48px;
}

section.other-furniture hr {
    margin: 32px 0;
    border-color: var(--transparent-gray);
    display: none;
}

section.other-furniture .list {
    display: flex;
    justify-content: center;
}

section.other-furniture .new-product {
    width: 240px;
    height: fit-content;
    margin-right: 24px;
    color: var(--dark-gray);
    padding: 16px 24px;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    background-color: var(--transparent-gray);
}

section.other-furniture .new-product img {
    width: 100%;
}

section.other-furniture .new-product > * {
    margin-bottom: 8px;
}

section.other-furniture .new-product a {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    z-index: 1;
}

@media only screen and (max-width: 1000px) { 

    main {
        flex-direction: column;
        margin-bottom: 0;
    }

    aside {
        margin-top: 48px;
        padding-left: 0;
        height: 320px;
    }

    section.other-furniture .list {
        flex-direction: column;
    }

    
section.other-furniture .new-product {
    width: 100%;
    margin-bottom: 24px;
}
}