body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    width: 100%;
    padding: 8px ;
    display: flex;
    justify-content: space-between;
}

b, strong {
    font-family: helveticabold;
    font-weight: normal;
    color: var(--light-green);
}

header nav h1 {
    font-weight: 100;
}

header nav {
    display: flex;
}

header nav > a {
    font-size: 32px;
    display: block;
    margin-right: 16px;
    margin-top: 8px;
    color: var(--dark-green) !important;
}

header h1 > a {
    text-decoration: none;
    cursor: pointer;
    color: var(--dark-green) !important;
}

main {
    width: 100%;
    height: fit-content;
    width: fit-content;
    display: flex;
    margin: auto;
    margin-top: 48px;
    position: relative;    color: var(--dark-green);
    margin-bottom: 256px;
}

main section {
    height: 480px;
    position: relative;
    box-shadow: 5px 5px 10px 1px rgb(0, 0, 0, 0.1);
    cursor: grab;
    user-select: none;
}

main section .slideshow {
    overflow: hidden;
    width: 480px;
}

main section .scroll-div img {
    width: 480px;
}

main section .active {
    cursor: grabbing;
}

main section .scroll-div {
    display: flex;
    width: fit-content;
}

#big-image {
    position: absolute;
    pointer-events: none; 
    z-index: 100;
    overflow: hidden;
    display: none;
}

#big-image img {
    object-fit: cover;
}

aside {
    display: flex;
    flex-direction: column;
    padding-left: 48px;
    width: 320px;
    justify-content: space-between;
}

aside .colors .color {
    display: block;
    height: 24px;
    width: 24px;
    cursor: pointer;
}

main .buy-button {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 8px 24px;
    border-radius: 8px;
    border: none;
    font-size: 24px;
    font-family: helveticabold;
    cursor: pointer;
    background-color: var(--dark-green);
    color: var(--orange)

}

main section .right-arrow,
main section .left-arrow {
    position: absolute;
    bottom: 50%;
    font-size: 24px;
    cursor: pointer;
}

main section .right-arrow {
    right: 0;
}

main section .left-arrow {
    left: 5px;
}

main section .tracker {
    display: flex;
    position: absolute;
    bottom: 4px;
    left: 50%;
    transform: translateX(-50%);
}

main section .tracker .tracker-circle {
    height: 16px;
    width: 16px;
    opacity: 0.5;
    border-radius: 1000px;
    margin: 0 2px;
    border: 1px solid var(--dark-green);
}


section.other-furniture {
    padding: 24px;
    flex: 1;
    width: 100%;
    color: var(--dark-green);
    background-color: var(--very-light-green);
    padding-bottom: 48px;
}

section.other-furniture h1 {
    font-weight: 100;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 64px;
}

section.other-furniture .list {
    display: flex;
    justify-content: center;
}

section.other-furniture .new-product {
    width: 240px;
    height: fit-content;
    margin-right: 24px;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
}

section.other-furniture .new-product img {
    width: 100%;
}

section.other-furniture .new-product > * {
    margin-bottom: 8px;
}

section.other-furniture .new-product a {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    z-index: 1;
}

